<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <p class="modal-title text-center">We're launching our alpha soon! Please leave your email if you'd join:</p>
      </div>
      <div class="modal-body">
        <p>
          <!-- form for submitting email -->
          <div class="text-center">
            <form action="/beta_email" method="post" data-remote="true">
              <input name="email" type="text" />
              <input class="btn btn-default border align-middle" type="submit" />
            </form>
          </div>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
