<div class="banner jumbotron jumbotron-fluid">
  <%= image_tag 'banner.jpg', class: "banner-img", alt: "Can Your Idea Change The World?" %>
  <div class="container">
    <div class="desc">
      <h1>Can Your <strong>Idea</strong> <br>Change The <strong>World</strong>?</h1>
      <a href="#" class="theme-btn">Let’s find out</a>
    </div>
  </div>
</div>

<section class="platforms">
  <div class="container">
    <h2 class="text-center">What We Do</h2>
    <p class="mt-1 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a pharetra quam, vitae interdum ex. Curabitur arcu ligula, varius sed tellus id, rutrum scelerisque felis. Vivamus pellentesque ut nisi lobortis posuere. Sed blandit mattis maximus. Duis et quam sit amet lacus volutpat lobortis fermentum vel lorem. Nam quis eros lacus. Quisque sit amet turpis ac massa egestas gravida a non turpis. Integer varius efficitur fringilla.</p>
    <%= image_tag 'flow-diagram.png', class: "flow-diagram-desktop hidden-xs mt-2", alt: "Flow Diagram" %>
    <div class="steps visible-xs text-center">
      <%#= image_tag 'bulb.png', class: "mt-4 mb-2" %>
      <h4>Ideation</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      <%#= image_tag 'market.png', class: "mt-4 mb-2" %>
      <h4>Market Validation</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      <%#= image_tag 'incubation.png', class: "mt-4 mb-2" %>
      <h4>Incubation</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      <%#= image_tag 'launch.png', class: "mt-4 mb-2" %>
      <h4>Launch</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      <%#= image_tag 'community.png', class: "mt-4 mb-2" %>
      <h4>Community</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </div>
</section>

<section class="faq">
  <div class="container">
    <h2 class="text-center">Browse Our FAQs For More Helpful Answers</h2>
    <br>
    <div class="col-md-10 offset-md-1">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Collapsible Group Item #1
                <span class="panel_intigrator float-right"></span>
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Collapsible Group Item #2
                <span class="panel_intigrator float-right"></span>
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Collapsible Group Item #3
                <span class="panel_intigrator float-right"></span>
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact">
  <div class="container">
    <h2 class="text-center">Still Need Help? Contact Us:</h2>
    <div class="col-md-6 offset-md-3">
      <form class="row" action="">
        <div class="col-sm-6">
          <input class="" type="text" placeholder="First Name" >
        </div>
        <div class="col-sm-6">
          <input class="" type="text" placeholder="Last Name" >
        </div>
        <div class="col-sm-12">
          <input class="" type="text" placeholder="Email Address" >
        </div>
        <div class="col-sm-12">
          <textarea rows="5" placeholder="Message"></textarea>
        </div>
        <div class="col-sm-6 offset-sm-3">
          <input class="theme-btn" type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</section>

<section class="pre-footer">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <%= image_tag 'logo-black.png', class: "footer-logo" %>
      </div>
      <div class="col-6 text-right">
        <ul class="list-inline text-right">
          <li class="list-inline-item"><a href=""><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href=""><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<footer>

  <div class="container">
    <p>Copyright © 2018 Spitball. All rights reserved.</p>
    <ul class="list-inline my-2">
      <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      <li class="list-inline-item"><a href="#">Term</a></li>
    </ul>
    <div class="row">
      <div class="col-sm">

      </div>
      <div  class="col-sm text-center">
        <!-- <img class="my-2" width="150px" src="images/footer-logo.png"> -->
      </div>
      <div  class="col-sm text-right">

      </div>
    </div>
  </div>
</footer>

<script src="js/jquery-3.2.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>