<body class = "welcome">
<div class = "center">
  <h1>Can your idea change the world?</h1><br>
  <h1> Prove it. </h1>
	<div class = "center">
  <%= link_to "Signup Now", signup_path, class: "btn btn-lg btn-primary" %>
</div>
</div>
</body>