<% content_for :title do %> Spitball <% end %>

<div class="welcome-slider">
      <div class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <%= image_tag 'Eureka.jpg', class: 'd-block w-100'%>
          </div>
        </div>
  </div>
</div>
