<div class="row">
  <div class="col-12 welcome d-flex align-items-center justify-content-center" >
    <div class="row">
      <div class="col-10 mx-auto">
        <h1>Can your idea change the world?</h1><br>
        <h1> Prove it. </h1>

        <% if !logged_in? %>
          <%= link_to "Signup Now", signup_path, class: "btn btn-lg btn-primary" %>
        <% else logged_in? %>
          <%= link_to "Create a Wad", new_wad_path, class: "btn btn-lg btn-primary" %>
          <%= link_to "Other Wads", wads_path, class: "btn btn-lg btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
