<div class="row">
  <div class="col-12 welcome d-flex align-items-center justify-content-center" >
    <div class="welcome-slider">
      <div class="carousel slide">
        <div class="carousel-inner">

          <div class="carousel-item active">
              <%= image_tag 'Eureka.jpg', class: 'd-block w-100' %>
          </div>

          <div class="carousel-item">
            <%= image_tag 'pensive.jpg', class: 'd-block w-100' %>
          </div>


          <div class="carousel-item">
            <%= image_tag 'NYC.jpg', class: 'd-block w-100' %>
          </div>
          
          <div class="carousel-item">
            <%= image_tag 'Success.jpg', class: 'd-block w-100' %>
          </div>

        
        </div>
      </div>
    </div>

    <div class="comingsoon">
        <h1 class="font-white"> Coming soon </h1>
    </div>

  </div>
</div>