<div class="welcome-slider">
      <div class="carousel slide">
        <div class="carousel-inner">
        
          <div class="carousel-item active">
              <%= image_tag 'Eureka.jpg', class: 'd-block w-100'%>
          </div>

          <div class="carousel-item">
            <%= image_tag 'pensive.jpg', class: 'd-block w-100' %>
          </div>


          <div class="carousel-item">
            <%= image_tag 'NYC.jpg', class: 'd-block w-100' %>
          </div>
          
          <div class="carousel-item">
            <%= image_tag 'Success.jpg', class: 'd-block w-100' %>
          </div>

        
        </div>
  </div>
</div>

<div id = 'text' class= "font-white" style='font-size:200%; position:absolute; bottom:0; right:0;'>Coming Soon</div>

      