<div class="row " style="padding-top:50px;"">
  <div class="col-7 mx-auto ">
    <div class="row card" ">
      <div class="col-12">
        <h1 class="text-center"> What's your idea?</h1><br>
      </div>

      <div class="d-none d-md-flex col-9 mx-auto">

      </div>

      <div class="col-12">
        
      </div>
    </div>
  </div>

</div>
