<div class="col-12">
  <div class="col-12 mx-auto">
    <h3 class="text-center"> Terms of Use</h3>

    <h5>Effective Date: August 6, 2018</h5>
    <p>These User Terms of Use (the " Terms”) govern your access to and use of our online platform, spitball.io (“Site”, “Spitball”), operated by Spitball Ventures, Inc., a Delaware Corporation.  These Terms govern the Site and associated online tools (the "Services").  These Terms apply to all site visitors (“you”, “user”).</p>

    <p>Please read the Terms carefully. These Terms of use also apply to you as a user of the Services.</p>


    <h5>These Terms of Use are legally binding</h5>
    <p>These Terms of Use are a legally binding contract between you and us. Under these Terms of Use, you agree to comply with the latest version of our Terms. When you access the Services or use them or you continue to use the Services after a change to the Terms, you confirm that you acknowledge the change of Terms and have read and understood and agree with them. "We", "our" and "us" currently refers to the corresponding Spitball entity as defined in the Agreement and as defined below.</p>

    <h5>You are an authorized user in a collaborative space. What does that mean for you - and for us?</h5>
    <p>We provide the Services to the User, who may subsequently invite Users to join his Workspace/Workspaces. An Authorized User (including you) submits content or information to the Services, such as messages or files (“user data"), you confirm that the user data is the property of the user. The Services provide Users with numerous options and extensive control over user data. For example, grant or revoke access to the Services, enable or disable third party integration, manage permissions, retention and export settings, and transfer or assign work. These options or instructions may result in the access, use, disclosure, editing or deletion of some or all of the User’s data. In our Support Center find out more about the options available to our users.</p>

    <h5>The relationship between you and us</h5>
    <p>TO ACCEPT AND SERVICE THE SERVICES OR THE NON-COMPLIANCE OF THESE OBLIGATIONS ON THE PART OF THE CUSTOMER. SPITBALL MAKES NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, AS TO THE SERVICES PROVIDED TO YOU IN THEIR CURRENT STATUS, AS AT AVAILABILITY.</p>

    <h5>The basics:</h5>

    <h5>You must have reached the legal minimum age</h5>
    <p>To the extent permitted by law, the Services are not intended for persons under the age of eighteen and may not be used by such persons without permission of a parent or guardian. You declare that you have reached the legal age and that the intended recipient is the customer's invitation to use the Services. You may only access or use the Services if the explanations in the previous sentence apply. Without limiting the foregoing, you must be of legal age.</p>

    <p>To ensure a safe and productive work environment, all authorized users are required to adhere to our Terms and to report inappropriate behavior or content to the customer and us.</p>

    <p>These Terms are in effect until the expiration or termination of the User’s subscription, or until your access to the Services has been terminated by us. Please contact us if you wish to terminate your account at any time, regardless of the cause, including disapproval of updates to these Terms.</p>


    <h5>Disclaimer</h5>
    <p>If we believe there is a violation of the Terms, or any of our other policies, we may intervene directly and take action that we deem appropriate (including the deactivation of your account) if User fails to take appropriate action or, in our opinion, endangers or threatens us, the Services or any third party. NO PARTY IS LIABLE TO THE OTHER PARTY FOR LOST REVENUE OR PROFITS OR FOR INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES; INDEPENDENT OF THEIR OBJECTION, WHETHER IN CONNECTION WITH CONTRACTUAL OBLIGATIONS, TORT OR OTHER LIABILITY, AND INDEPENDENTLY WHETHER THE OTHER PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. WE ASSUME TO THE AUTHORIZED USER THAT A BREACH OF THE TERMS OF USE UP TO A TOTAL AMOUNT OF A MAXIMUM OF ONE HUNDRED US DOLLARS ($ 100). THE FOREGOING DISCLAIMERS APPLY TO THE EXTENT PERMITTED BY APPLICABLE LAW AND DO NOT LIMIT THE RIGHT OF ANY PARTY. </p>

    <p>Spitball is specifically indemnified against any claims resulting from disputes between Users.</p>

    <h5>Application of consumer law</h5>
    <p>Spitball is a collaborative workplace tool. Nothing in these Terms shall give rise to any implied contracts, quasi-contracts, oral agreements, warranties, guarantees, rights or remedies should, restrict, exclude or change. Our liability is limited (solely at our discretion) to the replacement, repair or re-delivery of the Services or the pro-rata reimbursement of pre-paid fees.</p>

    <h5>Survival</h5>
    <p>The sections "The relationship between you and us", "Limitation of Liability" and "Continuity" as well as all provisions under the heading "General Provisions" apply beyond the termination or expiration of the Terms of Use.
    General provisions</p>

    <h5>Emails and messages</h5>
    <p>Unless otherwise stated herein, communications are made in accordance with these Terms by email. Alternatively, we may instead notify authorized users about the services (for example, by means of a message). Messages to Spitball should be sent to help@spitball.io. A message is deemed duly delivered (a) the day after the e-mail has been sent, or (b) the day the service is notified. Notifications pursuant to the Agreement will be made solely to the User in accordance with the terms of this Agreement.</p>

    <h5>Intellectual Property</h5>
    <p>If you access Spitball or copy, display, distribute, perform or create derivative works from content displayed on the Site or other intellectual property in violation of the Terms or for purposes inconsistent with the Terms, your access, copying, display, distribution, performance or derivative work is unauthorized. Circumvention of any technological restriction or security measure on Spitball or any provision of the Terms that restricts content, conduct, accounts or access is expressly prohibited. For purposes of this paragraph, you agree that cached copies of Spitball webpages on your computer or computer server constitute “copies” under the Copyright Act, 17 U.S.C. § 101.</p>

    <p>You agree that Posts on the Site, materials, ideas, comments and testimonials you submit on the Site or other venues, including but not limited to the blogs; the venues on www.facebook.com, www.twitter.com, www.linkedin.com, www.youtube.com, www.pinterest.com, plus.google.com, www.flickr.com ; the Site administrator or any employee, officer or agent of Spitball ("User Content"), will not be considered confidential and may be used by Spitball, in its sole discretion, without any obligation to compensate for use of or to return any submitted materials. You also agree that Spitball owns, and has the right to register in its name, trademarks and service marks for any category names that you create on Spitball, so do not use a category name that you want to reserve for your own benefit. Spitball may use other trademarks or service marks in lieu of the category names that you create. You agree that you, the User, have the right to distribute any intellectual property posted by you.</p>

    <p>You further agree not to redistribute any information from the Site without prior written authorization, or seek commercial gain with any Site information.</p>

    <h5>Subsequent Collaborations</h5>

    <p>Spitball may, at its sole discretion, opt to partner with specific Users on subsequent collaborations.  Any such collaboration will be controlled by the terms of a separate Agreement.</p>

    <h3 class="text-center"> Privacy Policy</h3>
    <h5>Effective Date:  August 6, 2018</h5>

    <p>Our privacy policy continues our commitment to serve you and explains how we intend to protect your privacy. We are responsible for the protection of your personal data and we take this responsibility very seriously. All basic customer data are encrypted end-to-end. This Privacy Policy covers Spitball Ventures, Inc.’s (“Spitball”, “We”, “Us”, “Our”) treatment of information we collect when you are on our site, www.spitball.io, and when you use our services.  Spitball has created this privacy statement to demonstrate our firm commitment to protect your privacy and to fully disclose what information we collect and how we use it.</p>

    <p>This privacy notice discloses the privacy practices for Spitball and our website www.spitball.io (“Site”).  This privacy notice applies solely to information collected by this website, except where stated otherwise. It will notify you of the following:</p>
    <h5>What information we collect;</h5>
    <h5>How it is secured;</h5>
    <h5>How policy changes will be communicated; and</h5>
    <h5>How to address concerns over misuse of personal data.</h5>

    <h5>Information Collection, Use, and Sharing </h5>
    <p>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not disclose your personal data including your email address to third parties, categorically. There will be no sale of data. Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy. </p>

    <h5>Your Access to and Control over Information </h5>
    <p>You may opt out of any future contacts from us at any time. You can do this by changing your contact preferences on the site, or by contacting us via the contact info provided on our site.</p>

    <h5>Registration </h5>
    <p>In order to use this site, a user must first complete the registration form.  During registration a user is required to give certain information (such as name and email address).  This information is used to enable your use of the Site. </p>

    <h5>Sharing </h5>
    <p>We will not disclose your personal data to third parties.  We may use a processing company to bill users. These companies do not retain, share, store or use personally identifiable information for any secondary purposes.We may partner with another party to provide specific services. When the user signs up for these services, we will share names, or other contact information that is necessary for the third party to provide these services. These parties are not allowed to use personally identifiable information except for the purpose of providing these services.</p>

    <h5>Security </h5>
    <p>We take all reasonable precautions to protect your information. When you submit sensitive information via the site, your information is protected both online and offline.Wherever we collect sensitive information, that information is encrypted and transmitted to us in a secure way.
    While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (e.g. billing or customer service) are granted access to personally identifiable information. The computers/servers on which we store personally identifiable information are kept in a secure environment.</p>


    <h5>Links</h5>
    <p>This site may contain links to other websites.  Please be aware that we are not responsible for the content or privacy practices of such other sites.  We encourage our users to be aware when they leave our site and to read the privacy statements of any other website that collects personally identifiable information.</p>

    <h5>Surveys & Contests</h5>
    <p>In the event you subscribe or opt-in to receiving communications from Spitball, from time-to-time our site may request information via surveys or contests. Participation in these surveys or contests is completely voluntary and you may choose whether or not to participate and therefore disclose this information. Information requested may include contact information (such as name and address), and demographic information (such as zip code, age level). Contact information will be used to notify the winners and award prizes. Survey information will be used for purposes of monitoring or improving the use and satisfaction of this site.</p>

    <h5>Compliance and Cooperation with Regulatory Authorities</h5>
    <p>We regularly review our compliance with our Privacy Policy.  We also adhere to several self-regulatory frameworks. When we receive formal written complaints, we will contact the person who made the complaint to follow up. We work with the appropriate regulatory authorities, including local data protection authorities, to resolve any complaints regarding the transfer of personal data that we cannot resolve with our users directly.  Requests made by regulatory authorities for subscriber information will be responded to by Spitball asserting all legal claims to refuse compliance.
    If you feel that we are not abiding by this privacy policy, you should contact us immediately email at help@spitball.io.</p>

    <h5>Aggregated Information</h5>
    <p>We do not provide aggregated usage or tracking information to third parties.</p>

    <h5>HTML Verification and Email Tracking</h5>
    <p>When receiving email from us, we may place a small piece of code in that email to determine whether or not you can accept HTML images and whether or not you viewed and/or clicked on links contained in the email. This process does not leave any information on your computer, nor does it collect information from your computer. Email opt-outs. In the event you decide to unsubscribe from our newsletters or promotional emails we will honor your request within thirty business days. </p>

    <h5>Information on Children</h5>
    <p>Spitball does not knowingly collect information from children under the age of 18. On-line registration is restricted to adults. Persons under 18: Do not send any information about yourself to us--including information such as your name, address, or e-mail address. We do not knowingly collect personally identifiable information from children under 18. In the event that we learn we have collected any personal information from a child under the age of 18 without verification of parental consent, we will delete that information from our database as quickly as possible. </p>

    <h5>Updating Visitor Information</h5>
    <p>Registered users have the option of accessing, correcting, updating and modifying Personal and/or Financial Information, or visitor profile, at any time and as often as desired. You may elect to stop receiving marketing material from Spitball or on behalf of external third party business partners. Users may choose to stop receiving such communications at any time by visiting their member profile page or by following instructions at the end of any such e-mail received.</p>

    <h5>Cookies</h5>
    <p>A "cookie" is a bit of data sent by a Web site through the browser to the computer of the user visiting the site, and enables the site to return the results the browser expects. Spitball uses temporary, session-specific cookies to ensure visits to the Site are smooth and customized for the visitor. Such cookies allow us to provide a visitor's browser with information tailored to the visitor's preferences and needs. Spitball also uses permanent or persistent cookies that remain on a visitor's computer after the visitor leaves the Web site.</p>

    <p>If you do not want your browser to accept cookies, you can turn off the cookie acceptance option in the browser's settings. Disabling the cookie support function of the browser will, however, prevent our Web site from functioning properly and you may not be able to utilize fully all of the site's features and information.</p>

    <p>We use advertising companies to develop banner ads for our and/or our partner promotions. These ads may contain cookies. These companies collect cookies sent to your browser through the banner ads and we do not have control or access to this data. Information may be collected from a third party through the use of cookies and web beacons to measure website traffic. Our Site uses cookies so that we can remember you and understand how you use our Site. If you do not agree with our use of cookies, please change your current settings. You can also read more about cookies and similar technologies here. Otherwise, you agree to the use of the cookies as they are currently set.</p>

    <h5>Pixel Tags</h5>
    <p>This Site may also use pixel tags, also known as beacons, spotlight tags or web bugs, to improve our understanding of site traffic, visitor behavior, and response to promotional campaigns, as a supplement to our server logs and other methods of traffic and response measurement. Pixel tags are sometimes used in conjunction with small JavaScript-based applications, also for the purpose of traffic measurement. We may also implement pixel tags provided by other companies, for the same purpose. You can disable pixel tags by changing your browser settings to omit images and disable JavaScript; or there are commercial software packages available that can omit pixel tags and most advertisements.</p>

    <h5>EU Personal Data</h5>
    <p>If you are located in the EU, United Kingdom, Lichtenstein, Norway, or Iceland, you may have additional rights under the EU General Data Protection Regulation (the “GDPR”) related to your personal data.  We will be the controller of your personal data processed in connection with the Site.
    You have the right to fully access all of your data.  Without prejudice to any other administrative or judicial remedy, every customer shall have the right to lodge a complaint with a supervisory authority, in particular in the Member State of his or her habitual residence, place of work or place of the alleged infringement if the customer considers that the processing of personal data relating to him or her infringes this Regulation.
    You have the right to restrict or object to any of our data retention policies.  You may request corrections to data.  You have the right to erase your data from the Site.  Should you select the optional opportunity to receive promotional emails from us about current offers and incentives, we will also use your email for this purpose. If you have not selected this Opt-in option, you will not receive promotional emails. If you have opted to receive promotional emails, or if you receive transactional emails about your incomplete order, you may choose to remove (Opt-out) this feature at any time and the emails will be stopped. Your contact information may also be used should we ever need to contact you regarding your order.
    The User has the right not to be subject to a decision based solely on automated processing, including profiling, which produces legal effects concerning him or her or similarly significantly affects him or her.

    <p>Please forward any data inquiries to help@spitball.io.</p>

    <h5>Your Acceptance of these Terms</h5>
    <p>By using our Site you signify your acceptance of the terms of this Privacy Policy. If you do not agree to the terms of this Privacy Policy, please do not use the Site and exit immediately. Consent may be withdrawn at any time by emailing us at help@Spitball.io.  Corrections may also be made by emailing us at help@Spitball.io.</p>

    <h5>Your Rights</h5>
    <p>The site may contain links to and from partner and/or affiliate websites. If you follow a link to their sites, please note that these sites have their own privacy policy and that Spitball does not accept any responsibility or liability for protection of personal data which you may submit to a third party's site. You are recommended to check the wording of the relevant privacy policies before you submit any personal data to those sites.</p>

    <h5>In The Event of Sale or Bankruptcy</h5>
    The ownership of Spitball may change at some point in the future. Should that occur, we want to be able to maintain a relationship with you. In the event of a sale, merger, public offering, bankruptcy or other change in control of Spitball, your information may be shared with the person or business that owns or controls this site. Opting out of receiving information from third parties will not affect our right to transfer your information to a new owner, but your choices will continue to be respected regarding the use of your information. You will be notified as described below in “Changes to Privacy Policy.”

    <h5>Changes to Privacy Policy</h5>
    <p>Spitball may amend this policy from time to time. If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on this website prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices. If we make any substantial changes in the way we use your personal information, we will notify you by posting a prominent notice in our privacy policy or in other locations on our Web site or by sending you an email to inform you of our updated privacy policy. <?

    <h5>Spam</h5>
    <p>We do not like it, we do not support it, and we do not engage in it. If you do not want to receive e-mail from us in the future, please let us know by contacting Customer Service at help@Spitball.io. Be sure to specify whether you want to be removed from a certain e-mail list or all of our product e-mail lists.</p>

    <h5>Customer Service</h5>
    <p>Email: help@spitball.io.</p>

    <h5>Questions?</h5>
    <p>If you have any questions on our Privacy Policy, or complaints about our handling of your Personal and/or Financial Information, you can contact us at help@spitball.io.</p>
  </div>
</div>
