<h3 class="text-center"> Terms of Use</h3>

<h5>Effective Date: August 6, 2018</h5>
<p>These User Terms of Use (the " Terms”) govern your access to and use of our online platform, spitball.io (“Site”, “Spitball”), operated by Spitball Ventures, Inc., a Delaware Corporation.  These Terms govern the Site and associated online tools (the "Services").  These Terms apply to all site visitors (“you”, “user”).</p>

<p>Please read the Terms carefully. These Terms of use also apply to you as a user of the Services.</p>


<h5>These Terms of Use are legally binding</h5>
<p>These Terms of Use are a legally binding contract between you and us. Under these Terms of Use, you agree to comply with the latest version of our Terms. When you access the Services or use them or you continue to use the Services after a change to the Terms, you confirm that you acknowledge the change of Terms and have read and understood and agree with them. "We", "our" and "us" currently refers to the corresponding Spitball entity as defined in the Agreement and as defined below.</p>

<h5>You are an authorized user in a collaborative space. What does that mean for you - and for us?</h5>
<p>We provide the Services to the User, who may subsequently invite Users to join his Workspace/Workspaces. An Authorized User (including you) submits content or information to the Services, such as messages or files (“user data"), you confirm that the user data is the property of the user. The Services provide Users with numerous options and extensive control over user data. For example, grant or revoke access to the Services, enable or disable third party integration, manage permissions, retention and export settings, and transfer or assign work. These options or instructions may result in the access, use, disclosure, editing or deletion of some or all of the User’s data. In our Support Center find out more about the options available to our users.</p>

<h5>The relationship between you and us</h5>
<p>TO ACCEPT AND SERVICE THE SERVICES OR THE NON-COMPLIANCE OF THESE OBLIGATIONS ON THE PART OF THE CUSTOMER. SPITBALL MAKES NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, AS TO THE SERVICES PROVIDED TO YOU IN THEIR CURRENT STATUS, AS AT AVAILABILITY.</p>

<h5>The basics:</h5>

<h5>You must have reached the legal minimum age</h5>
<p>To the extent permitted by law, the Services are not intended for persons under the age of eighteen and may not be used by such persons without permission of a parent or guardian. You declare that you have reached the legal age and that the intended recipient is the customer's invitation to use the Services. You may only access or use the Services if the explanations in the previous sentence apply. Without limiting the foregoing, you must be of legal age.</p>

<p>To ensure a safe and productive work environment, all authorized users are required to adhere to our Terms and to report inappropriate behavior or content to the customer and us.</p>

<p>These Terms are in effect until the expiration or termination of the User’s subscription, or until your access to the Services has been terminated by us. Please contact us if you wish to terminate your account at any time, regardless of the cause, including disapproval of updates to these Terms.</p>


<h5>Disclaimer</h5>
<p>If we believe there is a violation of the Terms, or any of our other policies, we may intervene directly and take action that we deem appropriate (including the deactivation of your account) if User fails to take appropriate action or, in our opinion, endangers or threatens us, the Services or any third party. NO PARTY IS LIABLE TO THE OTHER PARTY FOR LOST REVENUE OR PROFITS OR FOR INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES; INDEPENDENT OF THEIR OBJECTION, WHETHER IN CONNECTION WITH CONTRACTUAL OBLIGATIONS, TORT OR OTHER LIABILITY, AND INDEPENDENTLY WHETHER THE OTHER PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. WE ASSUME TO THE AUTHORIZED USER THAT A BREACH OF THE TERMS OF USE UP TO A TOTAL AMOUNT OF A MAXIMUM OF ONE HUNDRED US DOLLARS ($ 100). THE FOREGOING DISCLAIMERS APPLY TO THE EXTENT PERMITTED BY APPLICABLE LAW AND DO NOT LIMIT THE RIGHT OF ANY PARTY. </p>

<p>Spitball is specifically indemnified against any claims resulting from disputes between Users.</p>

<h5>Application of consumer law</h5>
<p>Spitball is a collaborative workplace tool. Nothing in these Terms shall give rise to any implied contracts, quasi-contracts, oral agreements, warranties, guarantees, rights or remedies should, restrict, exclude or change. Our liability is limited (solely at our discretion) to the replacement, repair or re-delivery of the Services or the pro-rata reimbursement of pre-paid fees.</p>

<h5>Survival</h5>
<p>The sections "The relationship between you and us", "Limitation of Liability" and "Continuity" as well as all provisions under the heading "General Provisions" apply beyond the termination or expiration of the Terms of Use.
General provisions</p>

<h5>Emails and messages</h5>
<p>Unless otherwise stated herein, communications are made in accordance with these Terms by email. Alternatively, we may instead notify authorized users about the services (for example, by means of a message). Messages to Spitball should be sent to help@spitball.io. A message is deemed duly delivered (a) the day after the e-mail has been sent, or (b) the day the service is notified. Notifications pursuant to the Agreement will be made solely to the User in accordance with the terms of this Agreement.</p>

<h5>Intellectual Property</h5>
<p>If you access Spitball or copy, display, distribute, perform or create derivative works from content displayed on the Site or other intellectual property in violation of the Terms or for purposes inconsistent with the Terms, your access, copying, display, distribution, performance or derivative work is unauthorized. Circumvention of any technological restriction or security measure on Spitball or any provision of the Terms that restricts content, conduct, accounts or access is expressly prohibited. For purposes of this paragraph, you agree that cached copies of Spitball webpages on your computer or computer server constitute “copies” under the Copyright Act, 17 U.S.C. § 101.</p>

<p>You agree that Posts on the Site, materials, ideas, comments and testimonials you submit on the Site or other venues, including but not limited to the blogs; the venues on www.facebook.com, www.twitter.com, www.linkedin.com, www.youtube.com, www.pinterest.com, plus.google.com, www.flickr.com ; the Site administrator or any employee, officer or agent of Spitball ("User Content"), will not be considered confidential and may be used by Spitball, in its sole discretion, without any obligation to compensate for use of or to return any submitted materials. You also agree that Spitball owns, and has the right to register in its name, trademarks and service marks for any category names that you create on Spitball, so do not use a category name that you want to reserve for your own benefit. Spitball may use other trademarks or service marks in lieu of the category names that you create. You agree that you, the User, have the right to distribute any intellectual property posted by you.</p>

<p>You further agree not to redistribute any information from the Site without prior written authorization, or seek commercial gain with any Site information.</p>

<h5>Subsequent Collaborations</h5>

<p>Spitball may, at its sole discretion, opt to partner with specific Users on subsequent collaborations.  Any such collaboration will be controlled by the terms of a separate Agreement.</p>

<h3 class="text-center"> Privacy Policy</h3>
<p>Our Privacy Policy explains how we collect and use information about the use and performance of our products.</p>

<h5>Amendments</h5>
<p>As part of the development of our Company, these Terms may be subject to change. If we make material changes to our Terms, we will notify you of this prior to their entry into force, either by email to the address associated with your account or by notification of the Services. The current version of our Terms may be consulted at any time on this page. All other changes will be effective as of the date of publication of the changes. The use of the Services after the entry into force of an amendment constitutes full acceptance of the amended Terms of Use.</p>

<h5>Waiver</h5>
<p>If a party fails to perform, or delays, any of its rights under these Terms, that does not constitute a waiver of that right. Declarations of waiver by a party of the rights under the Terms are limited to valid if they are in writing and signed by an authorized representative of the party who agrees to the waiver of the other party.</p>

<h5>Severability clause</h5>
<p>The Terms are enforced to the fullest extent permitted by law. If any provision of these Terms is found to be unlawful by a court of competent jurisdiction, that provision will be modified by the court and interpreted to the extent that the purposes of the original provision are met to the fullest extent permitted by law. The validity of the remaining provisions of the Terms remains unaffected.</p>

<h5>Transfer</h5>
<p>You may not assign or transfer your rights under these Terms without our prior written consent by law or for any other reason. We may assign these Terms in whole (including any terms and conditions set forth herein) to an affiliate without your consent or in connection with any merger, acquisition, reorganization or sale of all or substantially all of our assets.</p>

<h5>Governing Law, Jurisdiction, Waiver of Jury, Costs</h5>
<p>The Terms are governed solely by the laws of the State of California, United States. Exclusive jurisdiction for the court decision of all disputes arising out of or in connection with these Terms lies in the state and federal courts in Los Angeles County, California. All parties acknowledge and submit to the exclusive jurisdiction of these courts. In addition, all parties hereby waive the right to a jury in connection with any litigation or litigation arising out of or in connection with the contract. For any claim or proceeding for the enforcement of rights under the Terms, the superior party has the right to reimbursement of its costs and attorney's fees.</p>

<h5>Entire agreement</h5>

<p>The Terms, including all terms and conditions set out in its entirety, constitute the entire agreement between you and us and supersede all prior and contemporaneous written or oral agreements, offers or representations relating to its subject matter. In the event of any discrepancy or inconsistency between the terms of these Terms and the documents that form part of these Terms, the Terms shall prevail.</p>  


