<% @discussions.each do |discussion| %>
	<% if discussion.parent_id.nil? && discussion.resolved == true %>
		<div class="list-group-item">
		  <div class="row">

			 <div class="discussioninfo">  	
	        	 <%= link_to discussion_path(discussion), class: 'profile-link' do %>
			     	<div class="wadinfo">
	                	<h6 class="small"><%= discussion.content  %></h6>
	            	</div>
			     <% end %>
			 </div>

			 <div class="actions">
					<div>
						<% if discussion.resolved == false %>
						<%= link_to 'Answer', discussion_path(discussion), class: 'profile-link' %>
						<% else %>
						<%= link_to 'Contribute', discussion_path(discussion), class: 'profile-link' %>
						<% end %>
					</div>
			 </div>
			 
		  </div>
		</div>
	<% end %>
<% end %>

