<div class="mt-4">
	<div class="row">

		<%# The display for all wads%>
		<div class="col-xs-12 col-md-12 mb-5">
			<div class="col-md-12 col-xs-12  col-sm-12 align-items-center mb-4 row-flex">
				<%= render 'category_nav' %>
			</div>
			<div class="">
				<% @discussions.each do |discussion| %>
					<%= render discussion %>
				<% end %>
			</div>
		</div>
	</div>
</div>
