<div class="mt-4">
	<div class="mb-5">
		<div class="align-items-center mb-4 row-flex">
			<%= render 'category_nav' %>
		</div>
		<div class="mt-3">
			<%= render "all_discussions" %>
		</div>
	</div>
</div>
