<div class="list-group-item">
  <div class="row">
    <div class="col-9">
      <h5><%= discussion.user.name %> says,<br></h5>
      <p>
		<%= discussion.content %>.
	  </p>
    </div>
		<div class="col-3 text-center">
			<div>
				<% if discussion.resolved == false %>
				<%= link_to 'Answer', discussion_path(discussion) %>
				<% else %>
				<%= link_to 'Contribute', discussion_path(discussion) %>
				<% end %>
			</div>
		</div>
  </div>
</div>
