<<<<<<< HEAD
<p> <%= @discussion.content %> </p>
=======
>>>>>>> bd9ffc3797c58417ac0ba03838420129cec64ecd
<%= link_to like_discussion_path(discussion, discussion.id), method: :put do %>
	  Upvote:
	<% end %>
	  <%= discussion.get_upvotes.size %>
