<<<<<<< HEAD
<p> <%= @discussion.content %> </p>
=======
>>>>>>> forum-tweaks
<%= link_to like_discussion_path(discussion, discussion.id), method: :put do %>
	  Upvote:
	<% end %>
	  <%= discussion.get_upvotes.size %>
