<<<<<<< HEAD
=======
<p> <%= @discussion.content %> </p>
>>>>>>> 1c40530fde632e99bb81579daba400e7982c2167
<%= link_to like_discussion_path(discussion, discussion.id), method: :put do %>
	  Upvote:
	<% end %>
	  <%= discussion.get_upvotes.size %>
