<%= link_to discussion_answers_path(discussion) do %>
<div class="list-group-item">
  <div class="row">
    <div class="col-9">
      <div>
        <h5><%= discussion.user.name %> says,<br></h5>
      </div>
      <div class="">
		    <%= discussion.content %>
	    </div>
    </div>
		<div class="col-3 text-center">
		</div>
  </div>
</div>
<% end %>
