<% discussions_bar.each do |element| %>
	<div data-turbolinks="false">
		<a class="list-group-item list-group-item-action" href="<%= element[:link] %>">
		  <%= element[:name] %>
		</a>
	</div>
<% end %>


