<div class="col-12 col-md-9">
	<div class="col-12 d-flex align-items-center mb-3">
	<span class="h2"> Spread the Knowledge </span>
	<%= link_to fa_icon("edit"), new_discussion_path, class: "profile-link fa-2x"  %>
	</div>


	<div class="col-xs-12 col-md-9 mb-4">
			<div class="card">
				<div class="card-header">
				<h4>Answered Questions</h4>
			</div>
				<div class="list-group list-group-flush">
					<%= render "answered_disc" %>
				</div>

				<div class="card-footer text-center d-none">
					See all
				</div>
			</div>
		</div>
	


		<div class="col-xs-12 col-md-9 col-lg-6 float-right">
			<div class="card">
				<div class="card-header">
				<h4>Unanswered Questions</h4>
			</div>
				<div class="list-group list-group-flush">
					<%= render "unanswered_disc" %>
				</div>

				<div class="card-footer text-center d-none">
					See all
				</div>
			</div>
		</div>

	
</div>

