<div class="col-9">
	<h1> Collaborate, Learn, Build </h1>
	<h2> Share your questions and thoughts with like-minded entrepreneurs</h2>

	<%= link_to 'Join the Convo', new_discussion_path, class: 'btn btn-primary' %>


	<div class="card">
		<div class="list-group">
			<%= render 'discussions/all_discussions' %>
		</div>
	</div>

	<%= will_paginate @discussions %>
</div>
