<div class="col-9">
	<h1 class="text-center"> Spread the Knowledge </h1>

		<div class="col-10 mb-4">
			<div class="card">
				<h2>Unanswered Questions</h2>
				<div class="list-group list-group-flush">
					<%= render "ongoing_disc" %>
				</div>

				<div class="card-footer text-center d-none">
					See all
				</div>
			</div>
		</div>

		<div class="col-10 mb-4">
			<div class="card">
				<h2>Ongoing Discussions</h2>
				<div class="list-group list-group-flush">
					<%= render "resolved_disc" %>
				</div>

				<div class="card-footer text-center d-none">
					See all
				</div>
			</div>
		</div>
</div>
