<div class="row">
  <div class="col-6 mx-auto">
    <h1> Start a discussion thread! </h1>

    <%= form_for @discussion do |f| %>
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>

      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
