<div class="container">
	<div class="row">

		<div class="col-4 d-none d-md-block">
			<%= render "discussions/sidebar" %>
		</div>


		<div class="col-8">
			<span class="h2"> 
				Spread the Knowledge 
		   </span>
				<%= link_to new_discussion_path do %>
		   			 <button class="newbutton mt-4 shadow-sm small">Question?</button>
				<% end %>

	
			<div class="card">
				<div class="card-header">
				<h4>Questions</h4>
			</div>
				<div class="list-group list-group-flush">
					<%= render "all_discussions" %>
				</div>

				<div class="card-footer text-center d-none">
					See all
				</div>
			</div>
		</div>
