<div class = "flex-rectangle">
<ul class="wad">
<<<<<<< HEAD
		<%= @discussion.content %>
=======
	<%= @discussion.content %>
>>>>>>> forum-tweaks
</ul>
</div>

<%= discussions_tree_for @replies %>
<%= render 'discussions/reply' %>