<div class = "flex-rectangle">
<ul class="wad">
<<<<<<< HEAD
	<%= @discussion.content %>
=======
		<%= @discussion.content %>
>>>>>>> 1c40530fde632e99bb81579daba400e7982c2167
</ul>
</div>

<%= discussions_tree_for @replies %>
<%= render 'discussions/reply' %>