<div class = "flex-rectangle">
<ul class="wad">
<<<<<<< HEAD
		<%= @discussion.content %>
=======
	<%= @discussion.content %>
<<<<<<< HEAD
>>>>>>> bd9ffc3797c58417ac0ba03838420129cec64ecd
=======
>>>>>>> forum-tweaks
>>>>>>> forum
</ul>
</div>

<%= discussions_tree_for @replies %>
<%= render 'discussions/reply' %>