<div class = "flex-rectangle">
<ul class="wad">
<<<<<<< HEAD
<<<<<<< HEAD
		<%= @discussion.content %>
=======
	<%= @discussion.content %>
>>>>>>> forum-tweaks
=======
>>>>>>> 723ae7c272a909cd01529f02eae66609c776876f
</ul>
</div>

<%= discussions_tree_for @replies %>
<%= render 'discussions/reply' %>