<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Thank you for signing up for our alpha test! We hope you enjoy your experience and are looking forward to learning your thoughts on how it can be improved. We'll be sending you a brief survey in a few days and we would really appreciate your feedback!<br>
    </p>
    <p>
      You can access the site any time here: <%= @url %>.
    </p>
    <p>Thanks again for joining, and we are looking forward to building the future with you.</p><br>
    <p>- Spitball Team</p>
  </body>
</html>