<div class="row">
  <div class="col-6 mx-auto">
    <%= form_for([@wad, @comment]) do |f| %>
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>

      <%= f.submit 'Comment', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
