<div class="row my-2">
  <div class="col-12 text-right">
    <%= link_to 'Show replies', '#', data: { toggle: 'collapse', target: "##{collapse_id}" }, class: 'replies-toggle profile-link' %>
  </div>
</div>
