console.log("downvote script running");
$('#vote-span-<%= @comment.id %>').html('<%= link_to image_tag("thumbs-up-regular.svg", class: "icon-pic"), wad_comment_like_path(@wad, @comment), method: :put, remote: true, class: "profile-link" %><span class="small like-<%= @comment.id %>" id=""><%= @comment.get_upvotes.count %></span>')
