<div class="wad-comments">
	<%= comments_tree_for @replies %>
</div>
<div class="flex-rectangle-1">
	<%= render 'wads/wad' %>
</div><br>
<div class="wad-comment-form">
	<%= render 'comments/form' %>
</div>
<div>
	Other Related Projects
</div>