<div class="h-100">
  <form id="message_new" class="w-100 h-100 row col-12" method="POST" action="/create_message" data-remote="true">
      <textarea id="message_body" name="message[body]" class="mt-1 ml-1"></textarea>
      <input id="conversation_id" name="conversation_id" type="hidden" value="">
      <button id="message-btn" type="submit" class="text-white ml-2 mt-1"><%= fa_icon('paper-plane') %> Send </button>
  </form>
</div>
