<div class="no-gutters mt-1" style="height: 100%;">
  <div class="border-bottom small text-center py-3 d-none d-sm-block">
    <span class="py-3">Previous Attachments</span>
  </div>
  <div class="border-bottom small text-center d-block d-sm-none">
    <span class="">Previous Attachments</span>
  </div>
  Will be available for Beta(11/20)
  <% if false %>
  <% @conversations.each do |convo| %>
  <div class="convo-<%= convo.id %> tabcontent">
    <ul style="list-style-type: none;">
      <% convo.messages.order("created_at").each do |msg| %>
        <% if msg.document_content_type != nil %>
          <li class="small">
            <a href="<%= msg.document.path %>" download>
              <%= fa_icon('file') %><span class="small align-top"> <%=  msg.document_file_name %></span>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% end %>
  <% end %>

</div>
