<div class="no-gutters" style="height: 100%;">
  <div class="border-bottom small text-center py-3 d-none d-sm-block">
    <span class="py-3">Previous Attachments</span>
  </div>
  <div class="border-bottom small text-center d-block d-sm-none">
    <span class="">Previous Attachments</span>
  </div>
  <% @conversations.each do |convo| %>
  <div class="convo-<%= convo.id %> tabcontent">
    <ul style="list-style-type: none;">
      <% convo.messages.order("created_at").each do |msg| %>
        <% if msg.document.attached? %>
          <li class="small">
            <%= link_to fa_icon('file') + msg.document.filename, rails_blob_path(msg.document, disposition: "attachment") %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% end %>

</div>
