<div class="col-md-3 col-12 flex-column justify-content-end text-md-center text-right">
    <%= link_to fa_icon("comment"), wad_comments_path(wad), class: "profile-link" %>
    <%= link_to fa_icon("chevron-circle-up", class: "profile-link"), like_wad_path(wad), method: :put %>
     <span class="nowrap"> <%= wad.get_upvotes.size %> </span>

  <div>
    <% if current_user == wad.user %>
      <%= link_to fa_icon("trash", class: "profile-link"), method: :delete%>
    <% end %>
  </div>
</div>
