<div class="col-md-8 col-12 row text-center">

	<div class="col-12 text-right">
		<% if current_user == wad.user %>
	      <%= link_to fa_icon("trash", class: "profile-link pr-3"), wad_path(wad), method: :delete, remote: true%>
	    <% end %>
	    
	    <%= link_to fa_icon("chevron-circle-up", class: "profile-link"), like_wad_path(wad), method: :put %>
	     <span class="nowrap"> <%= wad.get_upvotes.size %> </span>
    </div>
</div>
