<div class="border-bottom">
	<div class="py-4">
		<% if @wads.first %>
			<% if @wads.order('created_at DESC') == @all_wads.order('created_at DESC') %>
				<span class="h4 pl-4 py-3">
						Wads
				</span>
			<% elsif controller_name == 'wads' && action_name == 'popwads' %>
				<span class="h4 font-weight-light pl-4 py-3">
					<%= "Popular Wads" %>
				</span>
			<% else %>
				<span class="h4 font-weight-light pl-4 py-3">
					<%= @wads.first.category %>
				</span>
			<% end %>
		<% else %>
			<div class="h2 text-center font-weight-light pointer" data-toggle='modal' data-target='#myModal'>
				Lead the way
			</div>

		<% end %>
	</div>
</div>
