<div class="row">
	<div class="col-12">
		<% if @wads.first %>
			<% if @wads.order('created_at DESC') == @all_wads.order('created_at DESC') %>
				<span class="h4 font-weight-light d-none d-sm-block">
						What people want to build today
				</span>
				<span class="h4 font-weight-light d-block d-sm-none">
					Hello <%= current_user.first_name %>!
				</span>

			<% elsif controller_name == 'wads' && action_name == 'popwads' %>
				<span class="h2 font-weight-light">
					<%= "Popular Wads" %>
				</span>
			<% else %>
				<span class="h2 font-weight-light">
					<%= @wads.first.category %>
				</span>
			<% end %>
		<% else %>
			<div class="h2 text-center font-weight-light pointer" data-toggle='modal' data-target='#myModal'>
				Lead the way
			</div>

		<% end %>
	</div>
</div>
<%= render 'modal' %>
