<div class="border-bottom">
	<div class="">
		<% if @wads.first %>
			<% if @wads.order('created_at DESC') == @all_wads.order('created_at DESC') %>
				<span class="h4 d-none d-sm-block pl-4 py-3">
						Wads
				</span>
				<span class="h4 d-block d-sm-none">
					Hello <%= current_user.first_name %>!
				</span>

			<% elsif controller_name == 'wads' && action_name == 'popwads' %>
				<span class="h4 font-weight-light">
					<%= "Popular Wads" %>
				</span>
			<% else %>
				<span class="h4 font-weight-light">
					<%= @wads.first.category %>
				</span>
			<% end %>
		<% else %>
			<div class="h2 text-center font-weight-light pointer" data-toggle='modal' data-target='#myModal'>
				Lead the way
			</div>

		<% end %>
	</div>
</div>
<%= render 'modal' %>
