<div>
  <h5 class="float-right border-bottom col-12">news</h5>
  <div class="">
    <div class="px-1">
      <div class="mb-2">
        <%= link_to image_tag('medium-logo.svg', class: "small-image")+ " How to thrive in the future job economy", "https://medium.com/swlh/how-to-thrive-in-the-future-job-economy-2b783249004d", class: "profile-link" %>
      </div>
      <div class="mb-2">
        <%= link_to image_tag('medium-logo.svg', class: "small-image") + " Don’t build a membership site; build membership chatbot instead", "https://medium.com/swlh/dont-build-a-membership-site-build-membership-chatbot-instead-26dd66a4dbf8", class: "profile-link" %>
      </div>
      <div class="mb-2">
        <%= link_to image_tag('medium-logo.svg', class: "small-image") + " Knowledge is Not Power. It is potential power", "https://medium.com/swlh/knowledge-is-not-power-it-is-potential-power-c7aad6ceb140", class: "profile-link" %>
      </div>
    </div>
  </div>
</div>
