<div class="col-12 mt-5">
  <h5 class="pl-0 border-bottom col-12">In the News</h5>
  <div class="small">
    <div id="news" class="px-1 small">
      <div class="mb-2">
        <%= link_to image_tag('forbeslogo.png', class: "small-image") + " The Future Of Work Continues To Be Rewritten", "https://www.forbes.com/sites/cognitiveworld/2018/07/20/the-future-of-work-continues-to-be-rewritten/#2a307085131e", class: "profile-link", target: "_blank" %>
      </div>
      <div class="mb-2">
        <%= link_to image_tag('tc-logo.jpg', class: "small-image") + " The new collaboration economy", "https://techcrunch.com/2016/08/25/the-new-collaboration-economy/", class: "profile-link", target: "_blank" %>
      </div>
      <div class="mb-2">
        <%= link_to image_tag('medium-logo.svg', class: "small-image")+ " How to thrive in the future job economy", "https://medium.com/swlh/how-to-thrive-in-the-future-job-economy-2b783249004d", class: "profile-link", target: "_blank" %>
      </div>
      <div class="mb-2">
        <%= link_to image_tag('medium-logo.svg', class: "small-image") + " Don’t build a membership site; build membership chatbot instead", "https://medium.com/swlh/dont-build-a-membership-site-build-membership-chatbot-instead-26dd66a4dbf8", class: "profile-link", target: "_blank" %>
      </div>
    </div>
  </div>
</div>