<div class="row">
  <div class="col-12 mb-3 text-center">
    <%= link_to 'Home', root_url %>
  </div>

  <div class="col-12">
    <ul class="list-group">
      <a class="list-group-item list-group-item-action" href="/wads">All Wads</a>
      <a class="list-group-item list-group-item-action" href="/art">Art</a>
      <a class="list-group-item list-group-item-action" href="/b2bsaas">B2B Saas</a>
      <a class="list-group-item list-group-item-action" href="/finance">Finance</a>
      <a class="list-group-item list-group-item-action" href="/manufacturing">Manufacturing</a>
      <a class="list-group-item list-group-item-action" href="/smallbusiness">Small Business</a>
      <a class="list-group-item list-group-item-action" href="/consumertech">Consumer Tech</a>
      <a class="list-group-item list-group-item-action" href="/other">Other</a>
    </ul>
  </div>
</div>
