<div class="">
	<% @wads.each do |wad| %>
		<%= link_to wad_comments_path(wad), class: "profile-link" do %>
			<div class="small mb-3">
				<div class="small">
					<div class="col-9 mt-2">
						<%= wad.long_form.truncate(100) %>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
