<div class = "sidenav">	
  <a href="/wads">All Wads</a>
  <a href="/art">Art</a>
  <a href="/b2bsaas">B2B Saas</a>
  <a href="/finance">Finance</a>
  <a href="/manufacturing">Manufacturing</a>
  <a href="/smallbusiness">Small Business</a>
  <a href="/consumertech">Consumer Tech</a>
  <a href="/other">Other</a>
</div>
<div class="main">