<div class="wad-card col-md-3 col-xs-12 mr-3 mb-4 px-3 ml-3 small">
  <div class="py-3 wad-card-header pl-2 small">
    <span class="ml-1"><b><%= wad.problem_state.truncate(20, separator: ' ') %></b></span>
  </div>
  <div class="small pl-2 py-3">
    <span class="grey-text"><%= wad.long_form.truncate(160, separator: ' ') %></span>
  </div>
  <div class="small float-right">
    <div class="mr-1 my-3">
      <b><%= link_to "View Details" + " ", wad_path(wad), class: "profile-link" %></b><%= link_to fa_icon('arrow-right'), wad_path(wad), class: "profile-link" %>
    </div>
  </div>
</div>
