<div class="mt-4">
	<div class="row">
		<div class="col-md-4 mb-5 d-none d-md-block">
			<%= render 'wad_form' %>
		</div>

		<%# The display for all wads%>
		<div class="col-xs-12 col-md-8 mb-5">
			<div class="col-md-12 col-xs-12  col-sm-12 align-items-center mb-4 row-flex">
				<%= render 'category_nav' %>
			</div> 
			<div class="">
				<% @wads.each do |wad| %>
					<%= render wad %>
				<% end %>
			</div>
		</div>
	</div>
</div>
