<div class="col-12 col-md-9">
	<div class="row">
		<div class="col-12 d-flex align-items-center mb-3">
			<span class="h2">
				What's the world missing?
			</span>
			
			<%= button_to "Let's get it", new_wad_path, :class => "newbutton", :method => :get  %>
		</div>

		

		<%# The display for all wads%>
		<div class="col-xs-12 col-md-9 mb-4 d-none d-md-block">
			<div class="card">
				<div class="card-header">
					All Wads
				</div>

				<div class="list-group list-group-flush">
					<%= render "all_wads" %>
				</div>

				<div class="card-footer text-center d-none">
					See all
				</div>
			</div>
		</div>
	</div>
</div>
