<div class="col-12 col-md-9">
	<div class="row">
		<div class="col-12 d-flex align-items-center mb-3">
			<span class="h2">
				Get the Ball Rolling!
			</span>

			<%= link_to image_tag("new_wad_btn.png"), new_wad_path %>
		</div>

		<%# Popular Wads display %>
		<div class="col-12 mb-4">
			<div class="card">
				<div class="card-header d-none d-md-flex">
					Popular Wads
				</div>

				<div class="list-group list-group-flush">
					<%= render "pop_wads" %>
				</div>

				<div class="card-footer text-center d-none">
					See all
				</div>
			</div>
		</div>

		<%# The display for all wads%>
		<div class="col-12 mb-4 d-none d-md-block">
			<div class="card">
				<div class="card-header">
					All Wads
				</div>

				<div class="list-group list-group-flush">
					<%= render "all_wads" %>
				</div>

				<div class="card-footer text-center d-none">
					See all
				</div>
			</div>
		</div>
	</div>

	<%= will_paginate @wads %>
</div>
