console.log("upvote script running")
	var like_html = `
	<%= link_to dislike_wad_path(@wad), class: "profile-link", method: :put, remote: true do %>
		<div class="border py-2 px-3 br-5 likeBtn text-white pointer">
			<div class="row">
				<div class="col-2">
					<%= fa_icon('thumbs-up') %>
				</div>
				<div class="col-8">
					<div class="small float-right mt-1">
						<%= @wad.get_upvotes.size %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
`
$(".wad-like-<%= @wad.id %>").html(like_html)
