<div class="list-group-item">
  <div class="row">
    <div class="col-3">
      <%= image_tag user.photo.url(:thumb), class: 'img-fluid' %>
    </div>

    <div class="col-9">
      <p><%= link_to user.name, user, class: "profile-link" %></p>
    </div>
  </div>
</div>
