<div class="row">
  <div class="col-12 mb-3">
    <div class="jumbotron">
      <h5 class="display-5">
        <%= image_tag @user.photo.url(:thumb) %> <%= @user.name %>, <%= @user.email %>
      </h5>

      Entreprenuer
    </div>
  </div>

  <div class="col-12">
    Juice Meter: <%= render 'users/progressbar' %>
  </div>
</div>
