
<%= link_to user, class: "profile-link"  do %>
  <div class="list-group-item">
    <div class="row">
      <div class="col-3">
        <% unless !user.photo.attached? %><%= image_tag user.photo, class: 'img-fluid img-circular' %><% end %>
      </div>
      <div class="col-9">
        <p><%= user.name %></p>
      </div>
    </div>
  </div>
<% end %>
