<% provide(:title, "Edit user") %>
<%= render 'shared/error_messages' %>
<div class="row mt-5">
	<div class="col-8 border-right">
		<%= render 'primary_sign_up' %>
	</div>

	<div class="col-4">
		<%= render 'secondary_sign_up' %>
	</div>
</div>
