<% provide(:title, 'All users') %>
<div class="row">
  <div class="col-7 mx-auto">
    <div class="row">
      <div class="col-12">
        <h1>All users</h1>
        <%= link_to "CSV", users_path(format: "csv") %> 
        <div class="list-group">
          <%= render @users %>
        </div>
      </div>
    </div>
  </div>
</div>
