<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="primary_sign_up">
  <%= render "users/primary_sign_up" %>
</div>
<div class="secondary_sign_up">
  <%= render "users/primary_sign_up" %>
</div>