<% provide(:title, @user.name) %>
<div class="row mt-3 ml-5">
	<div class="col-md-2 d-none d-md-block mt-4">
		<div class="bg-dark-grey py-2">
			<span id="categories-header" class="ml-4 text-white text-70 roboto">CATEGORIES</span>
		</div>
		<%= render 'wads/sidebar' %>
	</div>
	<div class="col-md-9">
		<%= render 'users/user_profile_header' %>
		<div class="container">
			<div class="">
				<div class="row my-3 col-12">
					<h4 class="col-3 small"><b><% unless @user == current_user %><%= @user.name %>'s Wads<% else %> Your Wads<% end %></b></h4>
					<h4 class="col-3 small"><b>Comments</b></h4>
					<h4 class="col-3 small"><b>Likes</b></h4>
					<h4 class="col-3 small"><b>Q & A</b></h4>
				</div>
				<div class="row no-gutters">
					<% @user.wads.each do |wad| %>
						<%= render 'wads/wad_card', wad: wad %>
					<% end %>
				<div>
			</div>
		</div>
	</div>
</div>
