<div class="border-bottom col-8 mt-2">
	<form method="POST" action="/create_answer" data-remote="true">
	  <input id="" placeholder="Have an answer?" name="content" class='form-control form-control-sm form-field comment-reply-form answers-field'>
	  <input type="hidden" name='discussion_id' id="discussion_id" value="<%= discussion.id %>">
	  <input type="hidden" name='parent_id' class="hid-field">
	</form>
</div>
