console.log("downvote script running");

$('#vote-span-<%= @answer.id %>').html('<%= link_to image_tag("thumbs-up-regular.svg", class: "icon-pic"), discussion_answer_like_path(@answer.discussion, @answer), method: :put, remote: true %><span class="small like-<%= @answer.id %>" id=""><%= @answer.get_upvotes.count %></span>')
