<div class= "page">
<h1> Wads </h1>

<%#<%= render "wads/sidebar" %>

		<div class="col-10 mb-4 d-none d-md-block">
			<div class="card">
				<div class="card-header">
					All Wads
				</div>

				<div class="list-group list-group-flush">
					<%= render "all_wads" %>
				</div>

				<div class="card-footer text-center d-none">
					See all
				</div>
			</div>
		</div>