.comment > .comment {
  padding-left: 20px;
}

.comment {
  transition: all 0.5s linear;
}

.glow {
	box-shadow: 0px 0px 12px $success;
}

.reply-hide {
	display:none;
}
.reply-show {
	display:block
}

.commentBtn {
  background-color: #d9e1e8;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  font-size: 15px;
  cursor:pointer;
}

.trash {
  display: none;
}

.wad-new-form-img{
  width:15%;
}
