#search-form-field{
  border-radius: 25px;
  background-image: url();
}
.bell{
  font-size: 20px;
}
.header-font{
  font-size: 12px;
}
.forum-border{
  border: 2px solid;
  border-radius: 5px;
  border-color: white;
  max-height: 40px;
}
