#search-form-field{
   padding: 10px;
   width: 96%;
}
.bell{
  font-size: 25px;
}
.header-font{
  font-size: 12px;
}
.forum-border{
  border: 2px solid;
  border-radius: 5px;
  border-color: white;
  max-height: 40px;
}
.logo{
  width: 90%;
}
.createBtn{
  background-color: rgb(255,166,76);
  width: 100px;
  height: 40px;
  border-radius: 5px;
  &:focus{
    outline: none;
  }
}
