.static_pages.home {
  #header {
    background-color: transparent;

    .nav-item,
    .nav-item .nav-link {
      color: $body-color;
    }
  }
}


nav .nav-link {
  color: white !important;
  }




#header {
  z-index: 1;
  background-color: #274350;
}


body {
  padding-top: 75px;
  background-color: #fdfdfd;
}

.nav-button{
  background-color: #274350;
  border:0px solid transparent;
  cursor:pointer;
}
