.profile-link {
  color: black;
  &:hover {
    color: black;
    text-decoration: underline;
  }
}

.text-60 {
  font-size: 60%;
}

.text-profile {
  @include media-breakpoint-down(sm) {
    font-size: 60%;
  }

}
