.profile-link {
   cursor:pointer;
  color: black;
   @include hover-focus {
  &:hover {
    color: black;
    text-decoration:none;
  }
}}

.text-60 {
  font-size: 60%;
}

.text-profile {
  @include media-breakpoint-down(sm) {
    font-size: 60%;
  }

}

.social-link{
    position: absolute; 
    top: 5px;
    right:-300px; 
}
