.wad-link {
  color: $body-color;

  @include hover-focus {
    text-decoration: none;
    color: $body-color;
  }
}

.wad-comment {
  margin-bottom: 0px;
}

.wad-list-group-item {
  padding-bottom: 0px;
}
