.wad-link {
  color: $body-color;

  @include hover-focus {
    text-decoration: none;
    color: $body-color;
  }
}

.wad-comment {
  margin-bottom: 0px;
  word-spacing: 10px;
}

.wad-list-group-item {
  padding-bottom: 0px;
  position: relative;
}


/* wad short form and problem on index */
.wadinfo{
    width:400px;
}

/* wad index actions */

  .trash{
    position: absolute; 
    top: 5px;
    right:15px; 
    padding-top: 0;
  }


  .actions{
    position: absolute; 
    bottom: 5px;
    right:15px; 
  }

.newbutton{
  background-color: #274350;
  margin-left: 200px;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 50px;
  font-size: 15px;
  cursor:pointer;
}
/* Wad New */

