.wad-link {
  color: $body-color;

  @include hover-focus {
    text-decoration: none;
    color: $body-color;
  }
}
.orange-text{
  color: #f58524;
}
.wad-comment {
  margin-bottom: 0px;
  word-spacing: 10px;
}

.wad-list-group-item {
  padding-bottom: 0px;
  position: relative;
}


/* wad short form and problem on index */
.wadinfo{
    width:300px;
    padding-right: 100px;
}


/* wad index actions */

  .trash{
    position: absolute; 
    top: 5px;
    right:15px; 
    padding-top: 0;
  }


  .actions{
    position: absolute; 
    bottom: 5px;
    right:15px; 
  }
  
.Spitballbutton{
  background-color: #DF7432;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 50px;
  font-size: 15px;
  cursor:pointer;
}
.newbutton{
  background-color: #DF7432;
  margin-left: 200px;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 50px;
  font-size: 15px;
  cursor:pointer;
}
/* Wad New */

.info-cards {
  display: none;
}
.wadnewbutton{
  background-color: #DF7432;
  margin-right: 50px;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 50px;
  font-size: 15px;
  cursor:pointer;
}
.question-marker-ps {
  cursor:pointer;
}
.navbutton {
  background-color: #DF7432;
  margin-left: 25px;
  color: white;
  border-radius: 20px;
  width: 80px;
  height: 40px;
  font-size: 15px;
  cursor:pointer;
}
.wad-form-item{
  height: 40px;
  border-width: thin;
  border-radius: 8px;
}