.comment-reply-form{
	border: none;
	outline: none;
	box-shadow:none !important;
}
.img-circular{
	display: block;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}
.comment-reply-form:focus{
	outline: none;
}
.bell-size{
	font-size: 30px;
}
.roboto{
	font-family: roboto;
}
.bg-Spitball-blue{
	background-color: rgb(40,53,54);
}
.list-no-style{
	list-style: none;
}
.hover-darken:hover{
	background-color: rgb(248,249,250);
}
div.full-height{
	height:100vh;
}
.send-height-width{
	height:55px;
	width:69px;
}
.nav-btn:hover{
	color: #f58524;
	cursor:pointer;
}
.orange-text{
	color:F16B00;
}
.tiny-icon{
	font-size: 10px;
}
.icon-pic{
	width: 18px;
}
.icon-pic:hover{
	color:orange;
}
.side-wad-pic{
	width:75px;
}
.search-btn{
	border-color: #2a3435;
	background-color: #2a3435;
}
.orange-btn{
	color: white;
	background-color: #e17525;
	text-decorations:none;
	border: 1px solid #e17525;
    border-radius: 50px;
    padding: .5rem 1.5rem !important;
}
.orange-btn:hover{
	color: #2a3435;
	background-color: #e17525;
	text-decorations:none;
	border: 1px solid #e17525;
    border-radius: 50px;
    padding: .5rem 1.5rem !important;
}
.upload-div {
  border-radius: 10px;
  background-color: rgb(235,235,235);
}
.pointer{
	cursor:pointer;
}
.comment-btn{
	font-size: 1.2rem;
    color: #ffffff;
    background-color: #e17525;
    display: inline-block;
    letter-spacing: 1px;
    border-radius: 50px;
}
.wad-shadow{
	box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.wad-shadow:hover{
	box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.comment-text{
	resize:none;
	height: 100px;
}
.trio-img{
	width: 30px;
}
.mid-pic{
	margin-left: 17px;
}
.far-pic{
	margin-left: 35px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
