.list-no-style{
	list-style: none;
}
.hover-darken:hover{
	background-color: rgb(248,249,250);
}
.nav-btn:hover{
	color: #f58524;
	cursor:pointer;
}
.icon-pic{
	width: 18px;
}
.icon-pic:hover{
	color:orange;
}