<footer class="footer">
  <small>
    Spitball 2018
  </small>
  <nav>
    <ul>
      <li class="nav-font"><%= link_to "Forum", discussions_path %></li>
      <li class="nav-font"><%= link_to "About",   about_path %></li>
      <li class="nav-font"><%= link_to "Help", help_path %></li>
      <li class="nav-font"><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>