<% content_for :sub_layout do %>
  <div class="container col-12">
    <div class="mx-auto">
      <div class="row mt-md-5 mr-1">
        <div class="col-md-2 d-none d-sm-block pl-0">
          <%= render 'wads/sidebar' %>
        </div>
        <div class="col-md-7 col-xs-12 card">
          <%= yield %>
        </div>
        <div class="col-md-3 col-xs-12">
          <h6 class="text-center">Related Wads</h6>
          <%= render "wads/side_wad" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
