<% content_for :sub_layout do %>
  <div class="container col-12">
    <div class="ml-5 row">
      <div class="row col-11 mt-5">
        <div class="col-md-2 d-none d-sm-block pl-0">
          <%= render 'wads/sidebar' %>
        </div>
        <div class="col-md-7 col-xs-12 card">
          <%= yield %>
        </div>
      </div>
      <div class="col-3">
        <%= render 'wads/side_wad' %>
      </div>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
