<% content_for :sub_layout do %>
  <div class="row no-gutters">
    <div class="col-md-2 border-right">
  	  <%= render "sidebar" %>
    </div>
  	<div class="col-md-8 col-xs-12 mt-4">
    	<%= yield %>
    </div>
    <div class="col-md-2 border-left">
      <%= render 'other_sidebar' %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
