<% content_for :sub_layout do %>
  <div class="row mt-4 col-12">
  	<%= render "sidebar" %>
  	<div class="col-md-8 col-xs-12">
    	<%= yield %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
