<% content_for :sub_layout do %>
  <div class="row">
  	<div class="d-none pl-0 pt-0 d-md-flex col-3 align-items-start">
  		<%= render "wads/sidebar" %>
  	</div>

    <%= yield %>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
