<% content_for :sub_layout do %>
  <div class="row mt-4">

  	<div class="d-none d-md-flex col-3 align-items-start">
  	</div>
		<%= yield %>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
